version: "3.8"

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: app-n8n
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=Europe/Paris
      - TZ=Europe/Paris
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_SECURE_COOKIE=false
    volumes:
      - ./data:/home/node/.n8n
      
