services:
  surrealdb:
    image: surrealdb/surrealdb:v2.0.4
    container_name: app-surrealdb
    volumes:
      - ./surreal_data:/mydata
    environment:
      - SURREAL_EXPERIMENTAL_GRAPHQL=true
    command: start --log info --user root --pass root rocksdb:/mydata/mydatabase.db
    user: root
    restart: always
    networks:
      - app-network

  open_notebook:
    image: lfnovo/open_notebook:1.3.1
    container_name: app-open-notebook
    ports:
      - "8502:8502"
      - "5055:5055"
    environment:
      - OPENAI_API_KEY=your_key_here
      - SURREAL_URL=ws://surrealdb:8000/rpc
      - SURREAL_USER=root
      - SURREAL_PASSWORD=root
      - SURREAL_NAMESPACE=open_notebook
      - SURREAL_DATABASE=production
    depends_on:
      - surrealdb
    volumes:
      - ./notebook_data:/app/data
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge